################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs/HealthData/DesignTimeBuild/.dtbcache.v2
/api/.vs/HealthData/v17/.suo
