<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/7c5812f8-a307-4a39-b393-acb46651c85f/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.ApiManagement/service/HealthDataapi/apis/HealthData</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/7c5812f8-a307-4a39-b393-acb46651c85f/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/fitness-data-challenge-api</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fitness-data-challenge-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8158be3a-612a-4def-bcc0-006edea4cd14</ProjectGuid>
    <PublishUrl>https://fitness-data-challenge-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$fitness-data-challenge-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>